// @media screen and (min-width: 767px) {
//     html,
//     body {
//         width: 450px;
//         font-size: 76.7px !important;
//     }
// }

html,
body {
    height: 100%;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

.iconfont {
    font-size: 12px;
    vertical-align: middle;
}

.home-card {
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    .home-card-swiper {
        padding: 0 0 $padding $padding;
    }
}

::-webkit-scrollbar {
    width: 0 !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
}
